/* estilos Base */
*{
    margin: 0;
    padding: 0;
/*     background: #FFF; */
    font-family: 'Lato', sans-serif;
    list-style: none;
}
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 25px;
    color: #999;
    font-weight: normal;
    
}
/* links de iconos */
.circle-icon-facebook{
    background: #3b5998;
    padding: 4px 9px;
    border-radius: 48%;
}
.circle-icon-twitter{
    background: #1da1f2;
    padding: 4px 9px;
    border-radius: 48%;
}
.circle-icon-google-p{
    background: #F44336;
    padding: 4px 9px;
    border-radius: 48%;
}
.circle-icon-world{
    background: #ea4c89;
    padding: 4px 9px;
    border-radius: 48%;
}
/* Paleta de colores */
.secondary-color{
    color: #ff3f34;
}
.primary-color{
    color: #3a3939;
}
.tertiary-color{
    background: #05c46b;
}
/* Estilos del encabezado */
    /* estilos del boton success */
.btn-header{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1px;
}
.parrafo-icon{
    font-size: 14px;
    color: #343a40;
    font-family: 'Lato', sans-serif;
}
/* borde */
.contact-section{
    border-bottom: 1px solid #dee2e6;
}
/* NAVBAR */
    /* Estilos del logo */
.logo-text{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
    position: relative;
    padding: 0;
}
.logo-text span{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 18px;
    position: absolute;
    right: 0;
    top: -2px;
}
/* Estilos del <a> del navbar */
.elements-navbar{
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
}
/* estilos de las letras de las secciones banner*/
h5{
    font-family: 'Lato', sans-serif;
font-size: 24px;
letter-spacing: 3px;
}
.tituloBanner{
    font-size: 52px;
letter-spacing: 1px;
font-weight: 600;
line-height: 1.2;
color: #343a40;
font-family: 'Barlow Semi Condensed', sans-serif;
}
.tituloBanner span{
    color: #ff3f34;
}
/* estilos del carrousel , color a las flechas */

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }
/* estilos seccion 2 titulos */
.titulo-section2{
    font-size: 40px;
letter-spacing: 1px;
font-weight: 600;
line-height: 1.2;
color: #343a40;
font-family: 'Barlow Semi Condensed', sans-serif;
}
.titulo-section2 span{
    color: #ff3f34;
}
/* Estilos de la 4rta seccion . jumbotron 50% 50% */
.jumbotron-img1{
    background: url(/img/bg3.jpg) no-repeat center;
    background-size: auto;
    background-size: cover;
    -webkit-background-size: cover;
    min-height: 500px;
}
.jumbotron-img2{
    background: url(/img/bg4.jpg) no-repeat center;
    background-size: auto;
    background-size: cover;
    -webkit-background-size: cover;
    min-height: 500px;
}
.title-section4{
    font-size: 32px;
font-weight: 600;
color:
#fff;
font-family: 'Barlow Semi Condensed', sans-serif;
}
/* Estilos de la 6ta seccion */
/* Estilos del card , con la imagen en circulo en posicion relativa */
.img-blog{
    position: absolute;
    bottom: -20%;
    left: 6%;
}
.card-header{
    position: relative;
}
.card-content{
    padding-top: 60px;
}
.name-person-card{
    border-bottom: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    margin: 15px 0; 
    padding: 3px 0;
    color:
#777;
text-transform: uppercase;
font-size: 12px;
word-spacing: 3px;
letter-spacing: 1px;
}
/* Seccion slider de imagenes */
.slider-img{
    background-image: url(/img/bg7.jpg);
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
    min-height: 400px;
}
@keyframes slideleft {
    from {
        background-position: 0%;
    }

    to {
        background-position: 90000%;
    }
}